<div class="container">
  <div class="row">
    <div class="col">
      <div class="card bg-paper-ligt-blue">
        <div class="card-header">
          <h1>Angular</h1>
        </div>
        <div class="card-body" style="width: 25rem">
          <button
            class="btn btn-md btn-outline-secondary angular"
            [routerLink]="['app']"
            [queryParams]="{ status: true, topic: 'angular' }"
          >
            <img
              src="assets/logoes/angular.png"
              alt="card image"
              class="card-img-top"
            />
          </button>
        </div>
        <div class="card-footer">
          <div>
            <span
              class="border rounded border-secondary text-muted mr-5"
              style="width: 6rem"
              >5 questions
            </span>
            <span
              class="border rounded border-secondary text-muted"
              style="width: 6rem"
              >5 minutes</span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mt-15" style="width: 25rem">
        <div class="card-header">
          <h1>Spring Boot</h1>
        </div>
        <div class="card-body">
          <button
            class="btn btn-md btn-outline-secondary angular"
            [routerLink]="['app']"
            [queryParams]="{ status: true, topic: 'springboot' }"
          >
            <img
              src="assets/logoes/springboot.png"
              alt="card image"
              class="card-img-top"
            />
          </button>
        </div>
        <div class="card-footer">
          <div>
            <span
              class="border rounded border-secondary text-muted mr-5"
              style="width: 6rem"
              >5 questions</span
            >
            <span
              class="border rounded border-secondary text-muted"
              style="width: 6rem"
              >5 minutes</span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mt-15" style="width: 25rem">
        <div class="card-header">
          <h1>Java Script</h1>
        </div>
        <div class="card-body">
          <button
            class="btn btn-md btn-outline-secondary angular"
            [routerLink]="['app']"
            [queryParams]="{ status: true, topic: 'javascript' }"
          >
            <img
              src="assets/logoes/javascript.png"
              alt="card image"
              class="card-img-top"
            />
          </button>
        </div>
        <div class="card-footer">
          <div>
            <span
              class="border rounded border-secondary text-muted mr-5"
              style="width: 6rem"
              >5 questions</span
            >
            <span
              class="border rounded border-secondary text-muted"
              style="width: 6rem"
              >5 minutes</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
