<div
  class="alert alert-danger"
  style="padding-left: 25%"
  *ngIf="!show && !resultbool"
>
  <h1>You haven't attempted any test</h1>
</div>
<div class="container" *ngIf="show && !resultbool">
  <form (ngSubmit)="onNext(f)" #f="ngForm">
    <div class="row">
      <div class="form-group">
        <label>{{ data.id }}.</label>
        <label>{{ data.question }}</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="radio">
          <ul class="list-group" style="width: 40rem">
            <li class="list-group-item">
              <label [class]="labellings[0]"
                ><input
                  type="radio"
                  name="option"
                  ngModel
                  required
                  #option="ngModel"
                  disabled="true"
                />
                {{ data.options.A }}
              </label>
            </li>
            <li class="list-group-item">
              <label [class]="labellings[1]"
                ><input
                  type="radio"
                  name="option"
                  ngModel
                  required
                  #option="ngModel"
                  disabled="true"
                />
                {{ data.options.B }}
              </label>
            </li>
            <li class="list-group-item">
              <label [class]="labellings[2]"
                ><input
                  type="radio"
                  name="option"
                  ngModel
                  required
                  #option="ngModel"
                  disabled="true"
                />
                {{ data.options.C }}
              </label>
            </li>
            <li class="list-group-item">
              <label [class]="labellings[3]"
                ><input
                  type="radio"
                  name="option"
                  ngModel
                  required
                  #option="ngModel"
                  disabled="true"
                />
                {{ data.options.D }}
              </label>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col" *ngIf="!last">
        <label
          ><input
            type="submit"
            value="Next"
            name="submit"
            class="btn btn-primary"
            id="submit"
          />
        </label>
      </div>
      <div class="col" *ngIf="last">
        <label
          ><input
            type="submit"
            value="Proceed to Score"
            name="submit"
            class="btn btn-primary"
          />
        </label>
      </div>
    </div>
  </form>
</div>
<div class="result" *ngIf="resultbool">
  <label class="list-group" style="align-items: center">
    <span class="list-group-item" id="tq">Total Questions:{{ 5 }}</span
    ><br />
    <span class="list-group-item" id="tq"
      >No. of Questions attempted:{{ 5 }}</span
    ><br />
    <span class="list-group-item" id="tq"
      >No. of Correct Questions:{{ correct }}</span
    ><br />
    <span class="list-group-item" id="tq"
      >No. of wrong Questions:{{ wrong }}</span
    ><br />
    <span class="list-group-item" id="tq">Total Marks:{{ score }}/5</span>
  </label>
</div>
