<div class="information">
  <h1>You havent attempted any test</h1>
</div>
<div class="container" *ngIf="show">
  <form (ngSubmit)="onNext(f)" #f="ngForm">
    <div class="row">
      <div class="form-group">
        <label>{{ data.id }}.</label>
        <label>{{ data.question }}</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="radio">
          <ul class="list-group" style="width: 40rem">
            <li class="list-group-item">
              <label [class]="labellings[0]"
                ><input
                  type="radio"
                  name="option"
                  ngModel
                  required
                  #option="ngModel"
                  disabled="true"
                />
                {{ data.options.A }}
              </label>
            </li>
            <li class="list-group-item">
              <label [class]="labellings[1]"
                ><input
                  type="radio"
                  name="option"
                  ngModel
                  required
                  #option="ngModel"
                  disabled="true"
                />
                {{ data.options.B }}
              </label>
            </li>
            <li class="list-group-item">
              <label [class]="labellings[2]"
                ><input
                  type="radio"
                  name="option"
                  ngModel
                  required
                  #option="ngModel"
                  disabled="true"
                />
                {{ data.options.C }}
              </label>
            </li>
            <li class="list-group-item">
              <label [class]="labellings[3]"
                ><input
                  type="radio"
                  name="option"
                  ngModel
                  required
                  #option="ngModel"
                  disabled="true"
                />
                {{ data.options.D }}
              </label>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col" *ngIf="!last">
        <label
          ><input
            type="submit"
            value="Next"
            name="submit"
            class="btn btn-primary"
            id="submit"
          />
        </label>
      </div>
      <div class="col" *ngIf="last">
        <label
          ><input
            type="submit"
            value="Submit"
            name="submit"
            class="btn btn-primary"
            style="width: 5rem"
          />
        </label>
      </div>
    </div>
  </form>
</div>
